<div class="container">
  <section class="my-5">
    <p class="p-responsive titulo text-center my-5">Unete a la causa!</p>

    <div class="row">
      <div class="col-lg-6">
        <div class="" mdbWavesEffect>
          <img
            class="img-fluid"
            src="../../../../../assets/medics.png"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>

      <div class="col-lg-6 espaciotexto">

        <p class="ct">
          El impacto súbito y generalizado de la pandemia del coronavirus y las
          medidas de suspensión de las actividades que se adoptaron para
          contenerla han ocasionado una drástica contracción de la economía
          mundial, que, según las previsiones del Banco Mundial, se reducirá un
          5,2 % este año
        </p>
      </div>
    </div>
  </section>
</div>
