<app-navbar></app-navbar>
<div class="container">
  <p class="p-responsive titulo text-center">REGISTRATE</p>

  <div class="card-deck">
    <mdb-card>
      <a (click)="EmpresaRegistro()">
        <div class="" mdbWavesEffect>
          <mdb-card-img
            src="../../../../assets/vender.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <!-- <div class=""></div> -->
          </a>
        </div>
      </a>
    </mdb-card>
    <mdb-card>
      <a (click)="RegistroCliente()">
        <div class="" mdbWavesEffect>
          <span class="minibloque"></span>

          <mdb-card-img
            src="../../../../assets/comprar.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
      </a>
    </mdb-card>
  </div>
</div>
<app-footer ></app-footer>
