<div class="centrartodo">
  <p class="p-responsive titulo text-center">Donación No Pagada</p>
  <div class="centlineas">
    <div class="la"></div>
  </div>
  <div class="centlineas">
    <div class="lv"></div>
  </div>
</div>

<div *ngIf="!loading" class="contenedorload">
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loading" class="form-inline md-form form-sm centrar">
  <span class="iconColor">
    <mdb-icon
      fas
      icon="search"
      style="color: white"
      aria-hidden="true"
    ></mdb-icon>
  </span>
  <input
    [(ngModel)]="Buscador_Clientes"
    class="form-control form-control-sm ml-3 w-75"
    type="text"
    placeholder="Buscar"
    aria-describedby="helpId"
    aria-label="Search"
    mdbInput
  />
</div>


<div class="container">
  <div class="table-responsive mt-5" *ngIf="loading">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Imagen</th>
          <th>Correo</th>
          <th>Tel</th>
          <th>Tipo de Pago</th>
          <th>Organizacion</th>
          <th>Cantidad</th>
          <th>Descripcion de producto</th>
          <th>Total</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr
          appTablehover
          *ngFor="
            let producto of DonacionesListadas
              | filter: Buscador_Clientes
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td class="tc"><img class="imgMedida" src="../../../../../../../assets/logo.png" alt=""></td>
          <td class="tc">{{ producto.correo }}</td>
          <td class="tc">{{ producto.telefono }}</td>
          <td class="tc">{{ producto.tipo_pago }}</td>
          <td class="tc">{{ producto.organizacion_dona }}</td>
          <td class="tc">{{ producto.cantidad_producto }}</td>
          <td class="tc">{{ producto.descripcion_producto }}</td>
          <td class="tc">{{ producto.total_compra }}</td>
          <td class="tc">{{ producto.fecha_compra  | date: "shortDate" }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="loading" class="mt-4 float-right">
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
