<div class="centrartodo">
  <p class="p-responsive titulo text-center">Lista de clientes</p>
  <div class="centlineas">
    <div class="la"></div>
  </div>
  <div class="centlineas">
    <div class="lv"></div>
  </div>
</div>

<div *ngIf="!loading" class="contenedorload">
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loading" class="form-inline md-form form-sm centrar">
  <span class="iconColor">
    <mdb-icon
      fas
      icon="search"
      style="color: white"
      aria-hidden="true"
    ></mdb-icon>
  </span>
  <input
    [(ngModel)]="Buscador_Clientes"
    class="form-control form-control-sm ml-3 w-75"
    type="text"
    placeholder="Buscar"
    aria-describedby="helpId"
    aria-label="Search"
    mdbInput
  />
</div>

<div class="container">
  <div class="table-responsive mt-5" *ngIf="loading">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th class="operaciones">Operaciones</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr
          appTablehover
          *ngFor="
            let usuario of UsuariosListados
              | filter: Buscador_Clientes
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td class="tc">{{ usuario.nombre }}</td>
          <td class="tc">{{ usuario.apellidos }}</td>
          <td class="tc">{{ usuario.correo }}</td>
          <td class="tc">{{ usuario.telefono }}</td>
          <td class="operacionesBoton">
            <button
              class="btn btn-outline-danger mr-2 mt-2"
              (click)="eliminarCliente(usuario.id_cliente)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button
              class="btn btn-outline-warning mt-2"
              (click)="gotoEdit(usuario.id_cliente)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="loading" class="mt-4 float-right">
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
