<p class="p-responsive titulo text-center">Preguntas Frecuentes</p>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="" mdbWavesEffect>
        <img
          class="img-fluid"
          src="../../../../../assets/questions.png"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>

    <div class="col-lg-6 espaciotexto">
      <p class="ct mt-3">
        1- ¿Donde debo realizar el pago? El pago se realizara en el
        establecimiento, puede ser por medio de paypal, transferencia o
        efectivo.
      </p>
      <p class="ct mt-3">
        2- Cuando realizo una donacion , ¿Quien entrega el producto?  Despues
        de realizar el pago con el establecimiento correspondiente , puedes
        preguntar y seleccionar el grupo de personas o niños que deseas donar.
      </p>
      <p class="ct mt-3">
        2- Cuando realizo una donacion , ¿Quien entrega el producto?  Despues
        de realizar el pago con el establecimiento correspondiente , puedes
        preguntar y seleccionar el grupo de personas o niños que deseas donar.
      </p>
      <p class="ct mt-3">
        2- Cuando realizo una donacion , ¿Quien entrega el producto?  Despues
        de realizar el pago con el establecimiento correspondiente , puedes
        preguntar y seleccionar el grupo de personas o niños que deseas donar.
      </p>
      <p class="ct mt-3">
        2- Cuando realizo una donacion , ¿Quien entrega el producto?  Despues
        de realizar el pago con el establecimiento correspondiente , puedes
        preguntar y seleccionar el grupo de personas o niños que deseas donar.
      </p>
    </div>
  </div>
</div>
