<div class="centrartodo">
  <p class="p-responsive titulo text-center">Lista de Productos</p>
  <div class="centlineas">
    <div class="la"></div>
  </div>
  <div class="centlineas">
    <div class="lv"></div>
  </div>
</div>

<div *ngIf="!loading" class="contenedorload">
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loading" class="form-inline md-form form-sm centrar">
  <span class="iconColor">
    <mdb-icon
      fas
      icon="search"
      style="color: white"
      aria-hidden="true"
    ></mdb-icon>
  </span>
  <input
    [(ngModel)]="Buscador_Clientes"
    class="form-control form-control-sm ml-3 w-75"
    type="text"
    placeholder="Buscar"
    aria-describedby="helpId"
    aria-label="Search"
    mdbInput
  />
</div>

<div class="container">
  <div class="table-responsive mt-5" *ngIf="loading">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Empresa</th>
          <th class="operaciones">Operaciones</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr
          appTablehover
          *ngFor="
            let producto of ProductosListados
              | filter: Buscador_Clientes
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td class="tc">{{ producto.imagen }}</td>
          <td class="tc">{{ producto.nombre }}</td>
          <td class="tc">{{ producto.categoria }}</td>
          <td class="tc">{{ producto.precio }}</td>
          <td class="tc">{{ producto.descripcion }}</td>
          <td class="tc">{{ producto.stock }}</td>
          <td class="tc">{{ producto.nombre_empresa }}</td>
          <td class="operacionesBoton">
            <button
              class="btn btn-outline-danger mr-2 mt-2"
              (click)="eliminarproductoAdmin(producto.id_producto)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="loading" class="mt-4 float-right">
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
