<div class="margen">
  <footer class="page-footer font-small blue pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon
                fab
                icon="facebook"
                size="2x"
                class="white-text "
              ></mdb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="http://www.wolfcode.com.mx/"> WolfCode.com</a>
    </div>
  </footer>
</div>
