<div class="container mt-5">
  <div class="centrarcard">
    <!-- Card -->
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <div class="centrartodo mb-5">
            <p class="p-responsive titulo text-center">Mi Perfil</p>
            <div class="centlineas">
              <div class="la"></div>
            </div>
            <div class="centlineas">
              <div class="lv"></div>
            </div>
          </div>
        </mdb-card-title>

        <!--Text-->
        <div class="centrarinfoCliente">
          <!-- Grid column -->
          <div class="col-md-12">
            <!-- Material input -->
            <div class="md-form form-group">
              <input
                mdbInput
                type="text"
                class="form-control"
                id="inputNombre4MD"
                placeholder="{{ this.inforCliente[0].nombre }}"
                disabled
              />
              <label for="inputNombre4MD">Nombre</label>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-12">
            <!-- Material input -->
            <div class="md-form form-group">
              <input
                mdbInput
                type="text"
                class="form-control"
                id="inputApellidos4MD"
                disabled
                placeholder="{{ this.inforCliente[0].apellidos }}"
              />
              <label for="inputApellidos4MD">Apellidos</label>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Material input -->
            <div class="md-form form-group">
              <input
                mdbInput
                type="text"
                class="form-control"
                id="inputApellidos4MD"
                disabled
                placeholder="{{ this.inforCliente[0].correo }}"
              />
              <label for="inputApellidos4MD">Correo</label>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Material input -->
            <div class="md-form form-group">
              <input
                mdbInput
                type="text"
                class="form-control"
                id="inputApellidos4MD"
                disabled
                placeholder="{{ this.inforCliente[0].telefono }}"
              />
              <label for="inputApellidos4MD">Telefono</label>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Material input -->
            <div class="md-form form-group">
              <input
                mdbInput
                type="text"
                class="form-control"
                id="inputApellidos4MD"
                disabled
                placeholder="{{ this.inforCliente[0].fecha_de_nacimiento }}"
              />
              <label for="inputApellidos4MD">Fecha de nacimiento</label>
            </div>
          </div>
          <!-- Grid column -->
          <!-- Grid row -->
        </div>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->
  </div>
</div>
